.hero {
    position: relative;
    overflow: hidden;
    &__container {
        height: 611px;
        background: url("../img/hero/hero-bg-mob.png") no-repeat center 32px;
    }

    &:before {
        content: "";
        position: absolute;
        width: 778px;
        height: 762px;
        background-color: var(--bg-secondary);
        border-radius: 50%;
        top: -153px;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        &__container {
            height: 782px;
            background: url("../img/hero/hero-bg.png") no-repeat center 0px;
        }
        &:before {
            width: 2139px;
            height: 2096px;
            top: -1314px;
        }
    }
}
