/* ------------------------------------------------------------------------- */
:root {
    --bg-primary: #d9e47c;
    --bg-secondary: #f1a257;
    --bg-tertiary: #dae086;

    --text-primary: #282828;

    --font-family-base: "Sofia Sans Condensed", sans-serif;
    --font-family-heading: "Gabarito", sans-serif;
}
body {
    font-family: var(--font-family-base);
    background-color: var(--bg-primary);
    font-size: 14px;
    color: var(--text-primary);
    min-width: 360px;
}

.container {
    margin: 0 auto;
    max-width: 360px;
    padding: 0 20px;
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 80px;
        max-width: 1280px;
    }
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.clear {
    clear: both;
}

/* ------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

.section {
}

.d-none {
    display: none;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.flex-center {
    @include flex();
    justify-content: center;
}

.flex-between {
    @include flex();
    justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.btn {
}

/*---------------------------------------*/
/*--- валидация форм + элементы формы ---*/
/*---------------------------------------*/
.has-error {
    .input,
    .text {
        border: 2px solid red;
    }
}

.has-success {
    .input,
    .text {
        border: 2px solid green;
    }
}

.form {
}

.form-group {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }

    label {
    }

    .checkbox {
    }
}
